*{
    padding: 0;
    margin: 0;
}
.container-fluid{
   
    background-color: steelblue;
}

.contact{
    position: relative;
    margin: 100px;
    height: 180px;
    width: 400px;
    background-color: peru;
    left: 31%;
}