*{
    padding: 0;
    margin: 0;
}
.container-fluid{
    position: relative;
    height: 753px;
    background-color: midnightblue;
}

.contact{
    position: absolute;
    margin: 100px;
    height: 180px;
    width: 400px;
    background-color: forestgreen;
    left: 31%;
    border-radius: 5px;
}

.contactBorder{
    border-radius: 5px 5px 0 0;
}

.btnTablet{
    position: absolute;
    top:150px;
    left: 100px;
    border: none;
    height: 52px;
    color: white;
    width: 180px;
    background-color: lightcoral;
    border-radius: 25px;
    outline: none;
    cursor: pointer;
    transition:1s;
    z-index: 2;
}

.contactMe{
    position: absolute;
    height: 50px;
    width: 400px;
    top:180px;
    z-index: -1;
    transform: translateY(-100%);
    background-color: #2d814d;
    color:white;
    border-radius:0px 0px 5px 5px;
    transition: all 0.7s;
}

.contactMe h1{
    padding: 7px;
}

.contactMeTrans{
    z-index: 0;
    transform: translateY(0);
}


.contactInfo{
    display: none;
    margin:12px 0px;
    background-color: white;
    height: 60px;
    width: 400px;
    transition: 2s;
}

.displayInfo{
    transition-delay:.5s ;
    display: block;
    position: relative;
    top:240px
}


.btnRounded{
    position:absolute;
    top:150px;
    left: 340px;
    height: 50px;
    width: 50px;
    border-radius: 45%;
    background-color: indianred;
    outline: none;
    border: none;
    z-index: 2;
}
